/* stylelint-disable at-rule-no-unknown */
.header {
  @apply .bg-purple;
}

.ais-menu {
  @apply .teratur;
}
.ais-menu--item:hover, .ais-menu--item__active {
  @apply .bg-purple text-white;
}
.ais-menu--item:hover .ais-menu--count, .ais-menu--item__active .ais-menu--count {
  @apply bg-red text-white;
}

.ais-pagination--link:hover {
  @apply .bg-purple;
}

