---
conferenceName: Algolia Education
conferenceUrl: https://www.algolia.com/
indexName: algolia-education
apiKey: 7fb0e72db490bee8957deff06dc981ec
inputPlaceholder: Search by title, language or sentence
---
