doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title TalkSearch playground
    meta(name='twitter:creator', content='@algolia')
    meta(name='twitter:card', content='summary_large_image')
    link(rel='stylesheet', href='/style.css')
    body.open-sans
      .flrnw.m-3
        each val in conferenceList
          .fln.w-33
            img(src=logoPath)
            a.text-black.no-underline.hover_underline.py-1.block(href=val.url)=val.name
