*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --main: var(--color, #4841b0);
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// We use the [class] hack to overspecify the selectors so they are more
// specific than the one included by tachyons
@media (min-width: 30em) {
  .bg-white-ns[class] {
    background: #fff;
  }
  .shadow-none-ns[class] {
    box-shadow: none;
  }
}
@media (min-width: 30em) and (max-width: 60em) {
  .bg-white-m[class] {
    background: #fff;
  }
  .shadow-none-m[class] {
    box-shadow: none;
  }
}
@media (min-width: 40em) {
  .bg-white-40[class] {
    background: #fff;
  }
  .shadow-none-40[class] {
    box-shadow: none;
  }
  .w-10-40[class] {
    width: 10%;
  }
  .w-20-40[class] {
    width: 20%;
  }
  .w-30-40 {
    width: 30%;
  }
  .w-40-40[class] {
    width: 40%;
  }
  .w-50-40[class] {
    width: 50%;
  }
  .w-60-40[class] {
    width: 60%;
  }
  .w-70-40[class] {
    width: 70%;
  }
  .w-80-40[class] {
    width: 80%;
  }
  .w-90-40[class] {
    width: 90%;
  }
  .pa2-40[class] {
    padding: var(--spacing-small);
  }
  .flex-row-40[class] {
    flex-direction: row;
  }
}
@media (min-width: 60em) {
  .bg-white-l[class] {
    background: #fff;
  }
  .shadow-none-l[class] {
    box-shadow: none;
  }
  .w-80-60[class] {
    width: 80%;
  }
  .w-20-60[class] {
    width: 20%;
  }
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

// Halfway between scale 2 and 3
.h25 {
  height: 3rem;
}
.w25 {
  width: 3rem;
}

.f8 {
  font-size: 0.65rem;
}

// relative stuff
.h1e {
  height: 1em;
}

.shadow-0 {
  box-shadow: 0 5px 15px 0 rgba(112, 128, 175, 0.2);
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.ellipsis {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ais-InstantSearch__root,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.ais-SearchBox__input {
  -webkit-appearance: none !important;
  appearance: none !important;
}

.ais-Hits__root .text,
.text {
  color: white;
  background: {
    color: var(--main) !important;
    image: linear-gradient(
      143.09deg,
      rgba(82, 82, 82, 0) 0%,
      rgba(82, 82, 82, 0.4) 100%
    );
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  // override the algolia defaults 👺
  box-shadow: none !important;
  border: none !important;
  border-radius: 0.25em !important;
  padding: 2px 6px 3px 6px !important;
  font-size: initial !important;
  font-weight: initial !important;
  text-align: initial !important;

  &:focus {
    background: var(--gradient);
    box-shadow: 0 2px 2px 0 rgba(73, 85, 136, 0.29) !important;
  }
}

.ais-SearchBox__root {
  max-width: initial;
}

.ais-PoweredBy__searchBy {
  white-space: pre;
}

@media (max-width: 40rem) {
  .w-100-40r {
    width: 100% !important;
  }
}

.wv100 {
  width: 100vw;
}