*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --main: var(--color, #4841b0);
  // todo: figure out how to lighten to get the secondary color
  --secondary: var(--secondary-color, #3771e4);
  // hardcoded fallback
  --main: #4841b0;
  --secondary: #3771e4;
  --gradient: linear-gradient(143.09deg, var(--main) 0%, var(--secondary) 100%);
}

body {
  height: 100%;
  overflow: auto;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

// Halfway between scale 2 and 3
.h25 {
  height: 3rem;
}
.w25 {
  width: 3rem;
}

// shadow that works in safari
.shadow-0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// haha boom
.ais-Hits__root {
  font-family: Montserrat, sans-serif;

  .text {
    box-shadow: none !important;
    border: none !important;
    color: white;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25em;
    cursor: pointer;

    &:focus {
      background: var(--gradient);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    }
  }
}
