*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  --main: var(--color, #4841b0);
  // todo: figure out how to lighten to get the secondary color
  --secondary: var(--secondary-color, #3771e4);
  // hardcoded fallback
  --main: #4841b0;
  --secondary: #3771e4;
  --gradient: linear-gradient(143.09deg, var(--main) 0%, var(--secondary) 100%);
}

body {
  height: 100%;
  overflow: auto;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

// Halfway between scale 2 and 3
.h25 {
  height: 3rem;
}
.w25 {
  width: 3rem;
}

// relative stuff
.h1e {
  height: 1em;
}

// shadow that works in safari
.shadow-0 {
  box-shadow: 0 2px 2px 0 rgba(73, 85, 136, 0.29);

  &:hover {
    box-shadow: 0 2px 3px 1px rgba(73, 85, 136, 0.29);
  }
}

.break-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.ellipsis {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ais-InstantSearch__root,
button {
  font-family: Montserrat, sans-serif !important;
}

.ais-Hits__root .text,
.text {
  color: white;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  // override the algolia defaults 👺
  box-shadow: none !important;
  border: none !important;
  border-radius: 0.25em !important;
  padding: 2px 6px 3px 6px !important;
  font-size: initial !important;
  font-weight: initial !important;
  text-align: initial !important;

  &:focus {
    background: var(--gradient);
    box-shadow: 0 2px 2px 0 rgba(73, 85, 136, 0.29) !important;
  }
}

.ais-SearchBox__root {
  max-width: initial;
}

.ais-PoweredBy__searchBy {
  white-space: pre;
}

@media (max-width: 40rem) {
  .w-100-40r {
    width: 100% !important;
  }
}
